.btn-cart{
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.btn-cart2{
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 5px;
}